
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin</title>
</head>
<body>
    <form action="../home/adduser" method="post">
        <input type="text" name="cardname"  placeholder="cardname"/>
        <input type="file"
               name="cardimg"
               accept="image/png, image/jpeg, image/jpg"">
        <input type="text" name="carddefbig" placeholder="carddefbig"/>
        <input type="text" name="carddef1" placeholder="carddef1"/>
        <input type="text" name="carddef2" placeholder="carddef2" />
        <input type="text" name="cardendname" placeholder="cardendname"/>
        <input type="text" name="cardlink" placeholder="cardlink"/>
        <input type="text" name="cardshare1" placeholder="cardshare1"/>
        <input type="text" name="cardshare2" placeholder="cardshare2"/>
        <button type="submit">sUBMIT</button>
    </form>
</body>
</html>
